* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 768px) {
  .col {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.home__section {
  color: #fff;
  padding: 160px 0;
}

@media (max-width: 991px) {
  .home__section {
    padding: 60px 0;
  }
}

.home__section---row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__section--text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .home__section--text-wrapper {
    padding-bottom: 65px;
  }
}

.home__section--subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__section--img {
  max-width: 95%;
  margin-right: 0;
  margin-top: 0;
  margin-left: 10px;
  padding-right: 0;
}

.home__section--img--wrapper {
  max-width: 555px;
}

.subject-heading {
  color: #8932E9;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 500;
  color: #f7f7f7;
}

.footer__container {
  background-color: #202020;
  padding: 4rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .footer__links {
    padding-top: 2rem;
  }
}

.footer__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .footer__link-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__link-wrapper--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__link-wrapper--items h2 {
  margin-bottom: 16px;
}

.footer__link-wrapper--items > h2 {
  color: #fff;
}

.footer__link-wrapper--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link-wrapper--items a:hover {
  color: #e9e9e9;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.social {
  max-width: 1000px;
  width: 100%;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

@media (max-width: 991px) {
  .social__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social__wrap--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
}

.social__wrap--icons__link {
  color: #fff;
  font-size: 24px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.copyright {
  color: #fff;
  margin-bottom: 16px;
}

@media (max-width: 991px) {
  .btn {
    width: 100%;
  }
}

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: #202020;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #202020;
  color: #fff;
  border: 1px solid #8b31ee;
  border-image-source: linear-gradient(45deg, #8b31ee, #5d19fe);
  border-image-slice: 1;
}

.btn--wide:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: linear-gradient(45deg, #8b31ee, #5d19fe);
  color: #fff;
  border: 1px solid transparent;
}

.primary {
  background-color: #041b29;
  color: #fff;
  border: none;
}

.secondary {
  background: #202020;
  color: #fff;
  border: 1px solid #8b31ee;
  border-image-source: linear-gradient(45deg, #8b31ee, #5d19fe);
  border-image-slice: 1;
}

.tertiary {
  background-color: #dd3e3e;
  color: #fff;
  border: none;
}

.btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.navbar {
  background: #202020;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 991px) {
  .navbar--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 120px;
  }
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.navbar--logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .navbar--logo {
    font-size: 1.5rem;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar__menu.active {
    background: #202020;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
  }
}

.navbar__menu--item {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (max-width: 991px) {
  .navbar__menu--item:hover {
    border: none;
  }
}

.navbar__menu--item:hover {
  border-bottom: 1px solid #8b31ee;
  border-image-source: linear-gradient(45deg, #8b31ee, #5d19fe);
  border-image-slice: 1;
}

.navbar--links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0.5rem 0;
  height: 100%;
}

@media (max-width: 991px) {
  .navbar--links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar--links::hover {
    color: #00909e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media (max-width: 991px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}

.pricing__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #202020;
}

.pricing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

@media (max-width: 991px) {
  .pricing__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.pricing__container--card {
  -webkit-box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
          box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 100%;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #202020;
  color: #fff;
  border: 10px solid #8b31ee;
  border-image-source: linear-gradient(45deg, #8b31ee, #5d19fe);
  border-image-slice: 1;
}

@media (max-width: 991px) {
  .pricing__container--card {
    width: 90%;
  }
}

.pricing__container--card:nth-child(2) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pricing__container--card:nth-child(2) {
  margin: 0 24px;
}

.pricing__container--cardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.pricing__container--cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.pricing__container--cardInfo h4 {
  font-size: 40px;
}

.pricing__container--cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
}

.pricing__container--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 32px;
  list-style: none;
}

.pricing__container--features li {
  margin-bottom: 10px;
}

.pricing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .pricing__wrapper {
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon {
  margin: 24px 0;
}

.dark {
  color: #041b29;
}

.darkBg {
  background-color: #202020;
}

.lightBg {
  background-color: #eee;
}
/*# sourceMappingURL=main.css.map */